/* Style For Structure Page  */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    animation: Bg 10s infinite;
}
@keyframes Bg {
    0%{ background-color: #ff00d4; }
    25%{ background-color: #fbff00; }
    50%{ background-color: #00ffe5e6; }
    75%{ background-color: #00a2ff; }
    100%{ background-color: #ff00d4; }
}
#Welcome{
    text-align: center;
    padding-top: 50px;
    font-family: monospace;
}
.Hello{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
#Welcome p{
    font-family: cursive;
}
.Logo{
    position: relative;
    height: 80px;
    width: 80px;
    transform: rotate(0deg);
    animation: Logo 3s alternate-reverse infinite;
}
@keyframes Logo{
    100%{
        transform: rotate(-360deg);
    }
}
.Img{
    padding: 25px;
}
#Welcome button{
    padding: 8px;
    margin-top: 20px;
    border-radius: 20px;
    font-family: cursive;
    box-shadow: 0 0 10px #000000;
    font-weight: 400;
}
#Welcome button:hover{
    box-shadow: 0 0 20px #000000;
}
.Wish{
    font-size: 40px;
    font-family: cursive;
    color: #ff0000;
}
#Wish-Container{
    padding: 20px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 5px 30px;
    box-shadow: 0 0 10px #000000;
    text-align: center;
}
#Tq-Btn{
    border-radius: 10px ;
    box-shadow: 0 0 10px #000000;
    padding: 15px;
    margin-top: 50px;
    font-family: cursive;
    font-weight: 400;
    left: 20%;
    color: #ff00bb;
}
#Page1{
    height: 100vh;
    background-color: #000000;
}
#Light-Btn{
    color: #ffff;
    background-color: transparent;
    border-radius: 8px ;
    box-shadow: 0 0 10px #ff0090;
    box-shadow: 0 0 20px #ff0090;
    padding: 30px;
    font-family: cursive;
    font-weight: 400;
    position: relative;
    top: 45vh;
    left: 45vw;
}
#Page2{
    height: 100vh;
    animation: Lights 1s infinite;
}
@keyframes Lights {
    0%{ background-color: #ff00d4; }
    20%{ background-color: #fbff00; }
    40%{ background-color: #3c00ffe6; }
    60%{ background-color: #00ff2a; }
    80%{ background-color: #ff1900; }
    100%{ background-color: #ff00d4; }
}
#Let-Btn{
    color: #ffff;
    background-color: #000000;
    border-radius: 8px ;
    box-shadow: 0 0 10px #000;
    box-shadow: 0 0 20px #000;
    padding: 30px;
    font-family: cursive;
    font-weight: 400;
    position: relative;
    top: 45vh;
    left: 45vw;
}
.Bulbs{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
.Bulb-Container{
    display: inline-block;
    position: relative;
}
#Page3{
    height: 100vh;

}
#Wt-Btn{
    color: #ffff;
    background-color: #000000;
    border-radius: 8px ;
    box-shadow: 0 0 10px #000;
    box-shadow: 0 0 20px #000;
    padding: 30px;
    font-family: cursive;
    font-weight: 400;
    position: relative;
    top: 65vh;
    left: 45vw;
}
#Cake{
    height: 300px;
    width: 300px;
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);;
}
.balloon {
    position: absolute;
    height: 250px;
    width: 150px;
    z-index: 1;
    animation: balloon 3s alternate-reverse infinite;
}
@keyframes balloon{
    100%{
        transform: rotate(40deg);
    }
}
.pic{
    height: 600px;
    width: 400px;
    border-radius: 40px;
    box-shadow: 0 0 10px #000;
    box-shadow: 0 0 20px #000;
    box-shadow: 0 0 30px #000;
    filter: brightness(1);
}
.Img-Contatiner{
    padding: 30px;
    margin: 30px;
    position: relative;
    display: flex;
}
.Text-Contatiner{
    padding: 30px;
    margin: 30px;
    height: 500px;
    width: 900px;
}
.Text{
    font-size: 30px;
    text-align: center;
}
.Cake-Sentance{
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 65vh;
    color: #ff0000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Up-Btn{
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 39vh;
    font-family: cursive;
    font-weight: 500;
}
#Next{
    border-radius: 20px;
    color: #ff0000;
    box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 20px #000000;
    padding: 10px;
    font-weight: 600;
    font-size: 35px;
    margin: 40px;
    text-align: center;
    text-decoration: none;
}
#Next:hover{
    box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 30px #000000;
    box-shadow: 0 0 40px #000000;
}
h1{
    text-align: center;
    padding: 20px;
    font-size: 100px;
}
.Remember{
    text-align: center;
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#Start{
    text-align: center;
    padding-top: 10px;
}
#Start p{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
#Moments{
    padding: 15px;
    margin-top: 20px;
    border-radius: 25px;
    font-family: cursive;
    box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 20px #000000;
    font-weight: 400;
}
#pics{
    border-radius: 20px;
    box-shadow: 0 0 10px #000000;
    box-shadow: 0 0 20px #000000;
    box-shadow: 0 0 30px #000000;
    margin: 10px;
    padding: 10px;
}
.msg{
    font-size: 300px;
    text-align: center;
    color: #ff1900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow:0 0 10px #000000;
    text-shadow:0 0 20px #000000;
    margin-top: 70px;
}
.msg1{
    font-size: 90px;
    text-align: center;
    font-family: cursive;
    text-shadow:0 0 10px #000000;
}
.Seen{
    font-size: 60px;
    text-align: center;
    padding: 20px;
    margin: 40px;
    border-radius: 40px;
    left: 38vw;
    position: relative;
}
.pic1{
    height: 400px;
    width: 300px;
}
.pic2{
    height: 400px;
    width: 600px;
}
.pic3{
    height: 400px;
    width: 300px;
}
.pic4{
    height: 400px;
    width: 600px;
}
.pic5{
    height: 400px;
    width: 300px;
}
.pic6{
    height: 400px;
    width: 300px;
}
.pic7{
    height: 300px;
    width: 600px;
}
.pic8{
    height: 300px;
    width: 600px;
}
.pic9{
    height: 400px;
    width: 900px;
}
.pic10{
    height: 400px;
    width: 300px;
}
.pic11{
    height: 400px;
    width: 600px;
}
.pic12{
    height: 400px;
    width: 600px;
}